.cell {
  width: 33%;
  text-align: right;
  color: #FFF;
  border: 0;
}

.headerCell {
  width: 33%;
  color: #535A67;
  text-align: right;
  border: 0;
}

.tableHead {
  display: table-header-group;
  text-transform: uppercase;
  border-spacing: 0;
  border-collapse: collapse;
}

.thCell {
  color: #535A67;
  text-align: right;
  padding-left: 10px;
}
