.header {
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #121828;
  color: #FFF;
}

.order-book {
  background-color: #121828;
}

.ddMenu {
  float: right !important; /*sorry about this*/
}
